<h2>Quiz Please</h2>

<div id="main-container">
  <div id="quizzes-display">
  </div>
</div>

<script>
  _.templateSettings = {
    interpolate: /\{\{\=(.+?)\}\}/g,
    evaluate: /\{\{(.+?)\}\}/g
  };

  $(document).ready(function() {
    var controller = new Controllers.Quiz($("#quizzes-display"));
    controller.showQuizzes();
  });
</script>


<!--
    Templates
              -->

<script id="choices-question-template" type="text/template">
  <div>
    {{= question.question }}<br>
    {{ question.choices.forEach(function(choice){ }}
      <p class="submit-answer link" data-answer="{{= choice }}">{{= choice }}</p><br>
    {{ }); }}
  </div>
</script>

<script id="blank-question-template" type="text/template">
  {{= question.question }}<br>
  <form class="form blank-question">
    <input type="text" name="answer" class="answer blank-question">
    <input type="submit" value="Answer">
  </form>
</script>

<script id="quizzes-template" type="text/template">
  <ul>
    {{ quizzes.forEach(function(quiz){ }}
      <li class="quiz link" data-quiz-id='{{= quiz.id }}'>
        {{= quiz.title }}
      </li>   
    {{ }); }}
  </ul>
</script>

<script id="final-score-template" type="text/template">
  <div>
    Correct: {{= correct }} out of {{= total }}<br><br>
    <form class="submit-score">
      Submit score?<br>
      name: <input type="text" placeholder="score" id="score-name">
      <input type="submit">
    </form>
      <div>
        {{ scores.forEach(function(score) { }}
          <p>{{=score.user}} : {{= score.score}}</p>
        {{ }); }}
      </div>
    <p class="link new-quiz">Take another quiz</p>
  </div>
</script>

<script id="question-result-template" type="text/template">
  <div>
    Interesting. Never seen someone be so {{= result }}
  </div>
</script>

<script id="message-template" type="text/template">
  <div>{{= message }}</div>
  <p class="link new-quiz">Take a different quiz</p>
</script>