<div class="item-table-container">
  <h3>Your Cart</h3>
  <table class="item-list-table">
    <tr>
      <th></th><th>Item Name</th><th>Description</th><th>Number</th><th>Item Price</th><th>Total Item Price</th><th></th>
    </tr>
    <tr class="animate-repeat" ng-repeat="item in cart.cart">
      <td class="image-cell"><img ng-src="{{item.url}}" class="item-table-image"></td>
      <td class="name-cell">{{item.name}}</td>
      <td>{{item.description}}</td>
      <td class="number-cell">{{cart.quantities[item.id]}}
      <td class="price-cell">${{item.price}}</td>
      <td class="price-cell">${{ cart.quantities[item.id] * item.price }}</td>
      <td class="actions-cell">
        <span ng-click="cart.addToCart(item)">+</span>
        <span ng-click="cart.removeFromCart(item)">-</span>
      </td>
    </tr>
    <tr class="animate-repeat" ng-if="cart.total === 0">
      <th colspan="10" class="cart-actions-cell">No items in your cart.. you poor, poor soul..</th>
    <tr>
      <th colspan="4"></th><th>Total Price:</th>
      <th>${{ cart.cost }}</th>
    </tr>
  </table>
  <div class="checkout-button-container">
    Customer Name: <input class="checkout-input" type="text" ng-model="name">
    <button class="checkout-button" ng-click="cart.checkout(name); name=''">Order!</button>
  </div>
</div>